<div class="page-container">

  <p class="site-title" title="Career Flavour">Career Flavour</p>
  <p class="title-2">Your Personalised Resume Builder</p>

  <div class="build">
    <p *ngIf="!user">Ready when you are</p>
    <p *ngIf="user">Hi {{name}}</p>
    <a *ngIf="!user" (click)="toResumeBuilder('resume-templates')">Get Started</a>
    <a *ngIf="user && publicResumeCount > 0 && userResumeCount > 0" (click)="toResumeBuilder('resume-templates')">Find a Template</a>
    <a *ngIf="user && publicResumeCount > 0 && userResumeCount < 1" (click)="toResumeBuilder('resume-templates')">Browse our templates</a>
    <a *ngIf="user && publicResumeCount < 1 && userResumeCount < 1" (click)="toResumeBuilder('resume-editor')">Create with your first template</a>
    <a *ngIf="user && publicResumeCount < 1 && userResumeCount > 0" (click)="toResumeBuilder('my-templates')">Continue Editing</a>
  </div>

  <p class="resumeCounter" *ngIf="publicResumeCount > 0">
    Explore our library with <span>{{ publicResumeCount }}</span> template{{ publicResumeCount > 1 ? 's' : '' }} available.
  </p>

</div>
