<section class="resume-section" [class.bg-style]="data?.['type'] === 'Header'">
  <div class="header">
    <app-p [textStyles]="fontStyles['sectionHeading']" *ngIf="data?.['title']" [text]="data?.['title'] || ''"></app-p>
    <app-p [textStyles]="fontStyles['sectionHeading']" *ngIf="data?.['name']" [text]="personal?.['header']?.['name'] || data?.['name'] || ''"></app-p>
    <app-p [textStyles]="fontStyles['topicHeading']" *ngIf="data?.['position']" [text]="personal?.['header']?.['position'] || data?.['position'] || ''"></app-p>
  </div>

  <div *ngIf="data?.['type'] === 'Header'" class="image">
    <div class="icon-container">
      <img src="{{personal?.['header']?.['image'] || avatar}}" alt="">
    </div>
  </div>

  <div *ngIf="data?.['type'] === 'Header'" class="main">
    <app-p [textStyles]="fontStyles['paragraph']" *ngIf="data?.['summary']" [text]="personal?.['header']?.['summary'] || data?.['summary'] || ''"></app-p>
  </div>

</section>
