<div class="container">
  <div [ngStyle]="resumeStyles" #sheet class="page">
    <app-resume-section [gridStyles]="sectionStyles" />
    <app-resume-section [gridStyles]="sectionStyles1" />
    <app-resume-section [gridStyles]="sectionStyles" />
  </div>
  <aside>
    <a (click)="change({resize: '+'})">+</a>
    <a (click)="change({resize: '-'})">-</a>
    <select (change)="changeFont()" [(ngModel)]="selectedOption" ngModel>
      <option *ngFor="let font of resumeConstants.FONTS" [value]="font">{{ font }}</option>
    </select>
  </aside>


</div>
