:host {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  overflow: clip;
}

.page {
  position: absolute;
  user-select: none;
}

