<div class="page-container">
  <p class="username">{{ firstName }} {{ lastName }}</p>

  <main>
    <section class="account">
      <p class="title">Account Settings</p>
      <form
        #accountForm="ngForm"
        (ngSubmit)="accountSubmitHandler(accountForm)"
      >
        <div class="main-input-box" >
          <div class="input-box" [class.error]="firstNameInput.touched && firstNameInput.invalid">
            <label for="first-name">First Name</label>
            <input appString type="text" id="first-name" name="firstName" ngModel #firstNameInput="ngModel" minlength="2" maxlength="15"/>
          </div>
          <div class="input-box" [class.error]="lastNameInput.touched && lastNameInput.invalid">
            <label for="last-name">Last name</label>
            <input appString type="text" id="last-name" name="lastName" #lastNameInput="ngModel" ngModel minlength="2" maxlength="15" />
          </div>
        </div>
        <input type="submit" value="Update Details" />
      </form>
    </section>

    <section class="change-password">
      <p class="title">Change password</p>
      <form
        #securityForm="ngForm"
        (ngSubmit)="passwordUpdateSubmitHandler(securityForm)"
      >
        <div class="main-input-box">
          <div class="input-box" [class.error]="password.touched && password.invalid">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" ngModel #password="ngModel" minlength="6" />
          </div>
          <p class="errorMessage"></p>
          <div class="input-box" [class.error]="repeatPassword.touched && password.value && password.value !== repeatPassword.value">
            <label for="repeat-password">Repeat Password</label>
            <input
              type="text"
              id="repeat-password"
              name="repeatPassword"
              ngModel
              #repeatPassword="ngModel"
              minlength="6"
            />
          </div>
        </div>
        <input type="submit" value="Change password" />
      </form>
    </section>

    <section class="email">
      <p class="title">Change Email</p>
      <div class="container">
        <p>Account email</p>
        <p>{{ this.email }}</p>
      </div>
      <form
        #emailForm="ngForm"
        (ngSubmit)="emailUpdateSubmitHandler(emailForm)"
      >
        <div class="main-input-box">
          <p
            style="color: red"
            *ngIf="emailInput.errors?.['appEmail'] && emailInput.value"
          >
            Invalid Email
          </p>
          <div class="input-box" [class.error]="emailInput.touched && emailInput.invalid">
            <label for="email">Email</label>
            <div>
              <input
              type="text"
              id="email"
              name="email"
              ngModel
              required
              appEmail
              #emailInput="ngModel"
            />
            </div>
          </div>
        </div>
        <input type="submit" value="Change Email" />
      </form>
    </section>
  </main>
</div>
