<div class="page-container">
  <p class="username">{{ firstName }} {{ lastName }}</p>

  <main>
    <section class="account">
      <p class="title">Account Settings</p>
      <form
        #accountForm="ngForm"
        (ngSubmit)="accountSubmitHandler(accountForm)"
      >
        <div class="main-input-box">
          <div class="input-box">
            <label for="first-name">First Name</label>
            <input
              type="text"
              id="first-name"
              name="firstName"
              [(ngModel)]="formData.firstName"
              (ngModelChange)="(inputChangeHandler)"
            />
          </div>
          <div class="input-box">
            <label for="last-name">Last name</label>
            <input
              type="text"
              id="last-name"
              name="lastName"
              [(ngModel)]="formData.lastName"
              (ngModelChange)="(inputChangeHandler)"
            />
          </div>
        </div>
        <input type="submit" value="Update Details" />
      </form>
    </section>

    <section class="change-password">
      <p class="title">Change password</p>
      <form
        #accountForm="ngForm"
        (ngSubmit)="passwordUpdateSubmitHandler(accountForm)"
      >
        <div class="main-input-box">
          <div class="input-box">
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              [(ngModel)]="formData.password"
              (ngModelChange)="(inputChangeHandler)"
            />
          </div>
          <div class="input-box">
            <label for="repeat-password">Repeat Password</label>
            <input
              type="text"
              id="repeat-password"
              name="repeatPassword"
              [(ngModel)]="formData.repeatPassword"
              (ngModelChange)="(inputChangeHandler)"
            />
          </div>
        </div>
        <input type="submit" value="Change password" />
      </form>
    </section>

    <section class="email">
      <p class="title">Change Email</p>
      <div class="container">
        <p>Account email</p>
        <p>{{this.email}}</p>
      </div>
      <form
        #accountForm="ngForm"
        (ngSubmit)="emailUpdateSubmitHandler(accountForm)"
      >
        <div class="main-input-box">
          <div class="input-box">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              name="email"
              appEmail
              ngModel
            />
          </div>
        </div>
        <input type="submit" value="Change Email" />
      </form>
    </section>
  </main>
</div>
