
pre {
  outline: none;
  white-space: pre-wrap; /* Since CSS 2.1 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-wrap: break-word; /* The preferred name for word-wrap */
  max-width: 100%; /* Limit the maximum width */
  display: inline; /* Allow the element to shrink to fit content */
}

pre:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
