:host {
  height: 100%;
  width: 100%;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorContainer p:first-child {
  font-size: 8em;
  font-weight: bold;
}

.errorContainer span {
  color: red;
}

.errorContainer a {
  color: blue;
  font-weight: bold;
}
