<nav *ngIf="currentNav === 'guest'" ng class="guest-nav">
  <ul>
    <li routerLink="/home"><a>Career Flavour</a></li>
    <li routerLink="/login"><a>Login</a></li>
    <li routerLink="/register"><a>Register</a></li>
    <li routerLink="/about"><a>About</a></li>
  </ul>
</nav>


<nav class="user-nav" *ngIf="currentNav === 'user'">
    <ul class="navigation-container">
      <li routerLink="/home">Home</li>
      <li routerLink="/resume-templates">Resume Templates</li>
    </ul>
  <div  (click)="toggleMenu('user')" class="user-container">
    <div class="user-icon">
      <p>{{userName.slice(0, 1)}}</p>
    </div>
    <div *ngIf="activeMenu === 'user'" class="user-menu">
      <p routerLink="/profile">Profile</p>
      <p routerLink="/my-templates">My Templates</p>
      <p routerLink="/logout">Logout</p>
    </div>
  </div>
</nav>
<div *ngIf="activeMenu" (click)="toggleMenu('')" class="backdrop"></div>
