
:host {
  width: 100%;
  display: block; 
}

.guest-nav {
  width: 100%;
}

.guest-nav ul {
  padding: 0 4em;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  background-color: red;
}

.guest-nav ul li {
  padding: 0 1em;
  display: flex;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease-in;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.guest-nav ul li:hover {
  background-color: black;
}
