:host {
  width: 100%;
  display: block;
}

.guest-nav {
  width: 100%;
}

.guest-nav ul {
  padding: 0 4em;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  background-color: red;
}

.guest-nav ul li {
  padding: 0 1em;
  display: flex;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease-in;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.guest-nav ul li:hover {
  background-color: black;
}

.user-nav {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 8vh;
  max-height: 100px;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

.user-container {
  pointer-events: all;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  right: 3vw;
  top: 3vh;
}

.user-icon {
  width: 3vw;
  height: 3vw;
  max-height: 50px;
  max-width: 50px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3) inset;
  background-color: var(--theme-color);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in, box-shadow var(--pointer-transition) ease-in;
  user-select: none;
  transition: box-shadow var(--pointer-transition) ease-in, background-color var(--pointer-transition) ease-in;
}

.user-icon:hover {
  background-color: var(--theme-blue);
}

.user-icon:hover > p {
  text-shadow: 0 0 5px white;
}

.user-icon p {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
}

.user-menu {
  position: absolute;
  top: 120%;
  transform: translate(-15%, 0);
  border-radius: 7px;
  border: 1px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
}

.user-menu p {
  width: auto;
  padding: 1em 2em;
  background-color: var(--theme-blue);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.user-menu p:hover {
  background-color: red;
  color: white;
}

.navigation-container {
  pointer-events: all;
  position: absolute;
  left: 3vw;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 13px;
  overflow: clip;
  background-color: var(--theme-color);

}

.navigation-container li {
  padding: 1em 2em;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--pointer-transition) ease-in;

}

.navigation-container li:hover {
  background-color: var(--theme-blue);
  color: white;
}

.backdrop {
  position: absolute;
  inset: 0;
  z-index: 99;
  backdrop-filter: blur(1px);
}
