:host {
  height: 100%;
  width: 100%;
}
.container {
  padding: 4em;
  min-width: 300px;
  min-height: 200px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 230, 230), rgb(233, 233, 233));
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

input {
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
}
