:host {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  inset: 0;
  z-index: 1001;
  pointer-events: none;
}

.container nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  pointer-events: all;
}

.container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
  background-color: var(--theme-blue);
  backdrop-filter: blur(4px);
  border-radius: 1.5vw;
}

.container nav ul li {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: color var(--pointer-transition) ease-in;
}
.container nav ul li:hover,
.arrow-container i:hover {
  color: var(--theme-color);
}

.arrow-container {
  display: flex;
  gap: 1em;
}
.arrow-container i {
  color: black;
  transition: color var(--pointer-transition) ease-in;
}

aside {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  aspect-ratio: 1;
  padding: 1.5em;
  border-radius: 13px;
  border: 1px solid black;
  background-color: var(--theme-blue);
  pointer-events: all;
  opacity: 0.5;
  transition: opacity var(--pointer-transition) ease-in;
}

aside:hover {
  opacity: 1;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

aside ul li {
  transition: color var(--pointer-transition) ease-in;
  cursor: pointer;
}

aside ul li:hover {
  color: green;
}
