<div class="container">

  <nav>
    <ul>
      <li (click)="openFonts($event, modalIds['font'])">Fonts</li>
      <li (click)="openLayouts($event, modalIds['layout'])">Layout</li>
      <li>Themes</li>
      <li (click)="print()">Print</li>
      <li class="arrow-container">
        <i (click)="resize('+')" class="fa-solid fa-magnifying-glass-plus fa-2x"></i>
        <i (click)="resize('-')" class="fa-solid fa-magnifying-glass-minus fa-2x"></i>
        <!-- <i class="fa-solid fa-circle-left fa-2x"></i>
        <i class="fa-solid fa-circle-right fa-2x"></i> -->
      </li>
    </ul>
  </nav>


  <aside>
    <ul>
      <li (click)="openDocuments($event, modalIds['documents'])"><i class="fa-regular fa-file fa-3x"></i></li>
      <li (click)="deleteDocument()"><i class="fa-solid fa-trash-can fa-3x"></i></li>
    </ul>

  </aside>

</div>
<!-- <ng-container *ngComponentOutlet="resumePage"></ng-container> -->
  <app-resume-page />




  <ng-template #deleteModal>
    <p class="modal-text">Delete your Resume?</p>
  </ng-template>
