:host {
  height: 100%;
  width: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  border-radius: 13px;
  padding: 2em 6em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: linear-gradient(to right, rgb(255, 230, 230), rgb(233, 233, 233));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input-wrapper {
  display: flex;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
}

label {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
}

.pass-reset-msg {
  padding: 8em;
  border-radius: 13px;
  background: linear-gradient(to right, rgb(255, 230, 230), rgb(233, 233, 233));
  text-align: center;
}
.pass-reset-msg p {
  font-size: 1.5em;
  font-weight: bold;
}

.pass-reset-msg a {
  color: blue;
  transition: font-size 0.3s ease-in
}

.pass-reset-msg a:hover {
  font-size: 1.1em;
  color: blue;
}
