<div class="form-wrapper">
  <form *ngIf="activeForm" #resetPasswordForm="ngForm" (ngSubmit)="submitHandler(resetPasswordForm)">
    <p class="title">Reset Account Password</p>
    <div class="main-input-box">
      <div class="input-box">
        <label for="email">Email</label>
        <div class="input-wrapper">
          <input
            appGlowFields
            appString
            appEmail
            type="text"
            id="email"
            name="email"
            ngModel
            required
            #emailInput="ngModel"
          />
        </div>
      </div>
    </div>
    <input
      type="submit"
      value="Reset Password"
    />
  </form>
  <div class="pass-reset-msg" *ngIf="!activeForm">
    <p>Password Reset Successful!</p>
    <p>Back to <a [routerLink]="['/']">Home</a></p>
  </div>
</div>
