
.container {
  width: 100%;
  height: 100%;
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
}

.resume-layout {
  display: flex;
  border: 1px solid red;
}

.sheet-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2em;
}

.sheet-layout {
  background-color: rgb(167, 167, 167);
  box-shadow: 2px 2px 10px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.section-editor {
  display: grid;
  grid-template-rows: 30% 1fr;
}

.custom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-section > form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.custom-section input {
  background-color: none;
  padding: 0.5em 0.8em;
}

.custom-section button {
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 13px;
  font-weight: bold;
  outline: none;
  border: none;
  transition:background-color var(--pointer-transition);
}

.custom-section button:hover {
  background-color: black;
  color: white;
}
.custom-section button:disabled {
  background-color: white;
  color: gray;
}

.general-sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.general-sections > p {
  font-size: 22px;
  font-weight: bold;
}
.layout-sections-container {
  padding: 0.5em;
  flex: 1 0 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: start;
  border: 2px solid black;
  background-color: rgb(58, 58, 71);
  gap: 5px;
}

.resume-section-draggable {
  padding: 0.5em 1em;
  background-color: rgb(71, 71, 71);
  border-radius: 7px;
  border: 1px solid rgb(32, 32, 32);
  color: white;
  cursor: grab;
  transition: background-color var(--pointer-transition) ease-in;
}

.resume-section:hover {
  background-color: rgb(52, 208, 255);
  font-weight: bold;
  cursor: grab;
}

.dragging{
background-color: gold;
cursor: grab;
}
