<div class="container">
  <main >
    <section class="resume-layout">
      <div #sheetWrapper class="sheet-wrapper">
        <div draggable="false" [ngStyle]="sheetStyles"  #sheet class="sheet-layout bin"></div>
      </div>
    </section>
    <section class="section-editor">
      <div #customSection class="custom-section">
        <form #gridForm="ngForm" class="advanced-control">
          <div class="control-group" *ngFor="let slider of object.keys(sliderValues)">
            <label for="slider">{{slider | toPascalCase:true}}</label>
            <input #slider ngModel name="{{slider}}" [attr.data-id]="slider" [disabled]="sectionControlDisabled" (change)="gridPosition()" [(ngModel)]="sliderValues[slider]"  min="0" [attr.max]="slider.toLowerCase().includes('row') ? 9 : 3"  id="slider" type="range">
          </div>
        </form>
          <form class="add-section" (submit)="addSection(customSectionForm)" #customSectionForm="ngForm">
            <button [disabled]="customSectionForm.invalid">ADD</button>
            <div>
              <input appGlowFields ngModel #name="ngModel" name="name" minlength="3" maxlength="25" type="text" required placeholder="Custom section">
            </div>
          </form>
      </div>
      <div draggable="false" class="general-sections">
        <p>Drag and drop resume sections</p>
        <div class="remove-sections-container">
          <label for="remove-section">Delete Sections</label>
          <input id="remove-section" type="checkbox"[(ngModel)]="inDeleteMode" (change)="deleteMode($event)">
        </div>
        <div #sectionsArea class="layout-sections-container bin" >
          <p draggable="true" class="resume-section-draggable in-general-section" [attr.data-id]="section.title" [ngStyle]="section.styles" *ngFor="let section of generalSections">{{section.title}}</p>
        </div>
      </div>
    </section>
  </main>
</div>
