:host {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}
input[type="checkbox"] {
  width: 25px;
  aspect-ratio: 1;
}

main {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
}

.resume-layout {
  display: flex;
  border: 1px solid red;
}

.sheet-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2em;
}

.sheet-layout {
  position: relative;
  background-color: rgb(167, 167, 167);
  box-shadow: 2px 2px 10px black;
  display: grid;
  grid-auto-columns:minmax(0, 1fr);
  grid-auto-rows:minmax(0, 1fr);
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto; */
  gap: 5px;
}

.section-editor {
  display: grid;
  grid-template-rows: 40% 1fr;
}

.custom-section {
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 1em;
}

.advanced-control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.2em;
}

.advanced-control .control-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.advanced-control .control-group input[type="range"] {
  width: 50%;
}

.add-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.2em;
}

.custom-section input[type="text"] {
  background-color: none;
  padding: 0.5em 0.8em;
  max-width: 200px;
}

.custom-section button {
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 13px;
  font-weight: bold;
  outline: none;
  border: none;
  transition: background-color var(--pointer-transition);
}

.custom-section button:hover {
  background-color: black;
  color: white;
}
.custom-section button:disabled {
  background-color: white;
  color: gray;
}

.general-sections {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.remove-sections-container {
  padding: 0 2em;
  width: 100%;
  gap: 1em;
  display: flex;
  justify-content: flex-end;
}
.remove-sections-container label{
  color: white;
  font-weight: bold;
}

.section-delete-btn {
  background-color: red;
  padding: 2px 4px;
  border-radius: 13px;
}

.general-sections > p {
  font-size: 22px;
  font-weight: bold;
  color: white;
  font-weight: bold;
}
.layout-sections-container {
  padding: 0.5em;
  flex: 1 0 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 2px solid black;
  background-color: rgb(58, 58, 71);
  gap: 5px;
}

.resume-section-draggable {
  background-color: rgb(71, 71, 71);
  border: 1px solid rgb(32, 32, 32);
  color: white;
  cursor: grab;
  transition: background-color var(--pointer-transition) ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.resume-section:hover {
  background-color: rgb(52, 208, 255);
  font-weight: bold;
  cursor: grab;
}

.dragging {
  background-color: gold;
  cursor: grab;
}

.in-general-section {
  padding: 0.5em 1em;
  border-radius: 7px;
}

.on-sheet {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid red;

}
/*
.resizeable {
  border: 2px solid red;
} */
