:host {
  height: 100%;
  width: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  border-radius: 13px;
  padding: 4em 8em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: linear-gradient(to right, rgb(255, 230, 230), rgb(233, 233, 233));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

input {
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
}

input[type="submit"] {
  cursor: pointer;
}


.to-login-div {
  text-align: center;
}

.to-login-div p {
  font-size: 14px;
}

.to-login-div a {
  color: blue;
  border-radius: 5px;
}

.to-login-div a:hover {
  color: rgb(38, 0, 255);
  font-weight: bold;
  font-size: 16px;
}
